DDYS_API_BASE=https://ddys.io/api/v1
DDYS_API_KEY=
DDYS_DOWNLOAD_TARGET=default
DDYS_DOWNLOAD_PROVIDER=aria2
DDYS_DOWNLOAD_BASE_URL=http://127.0.0.1:6800/jsonrpc
DDYS_ARIA2_SECRET=
DDYS_DOWNLOAD_SAVE_PATH=
DDYS_DOWNLOAD_CATEGORY=ddys
DDYS_DOWNLOAD_TAGS=ddys
DDYS_DOWNLOAD_PAUSED=false
DDYS_BRIDGE_HOST=127.0.0.1
DDYS_BRIDGE_PORT=8788
DDYS_BRIDGE_TOKEN=
DDYS_WEBHOOK_URL=
DDYS_WEBHOOK_SECRET=
